/* CODICE NAVBAR */

.navbar ul li{
  display:inline-block;
}
.navbar ul{
  list-style: none;
  padding:0;
}
img.logo{width:100px;
height:auto;}
#myCarousel img{
  margin:0 auto;
  height:350px;
  width:auto;
}
.hamburger-menu{float:right;}
.col-md-6:nth-child(2) ul{float:right;}
.col-md-6:nth-child(2) ul li{
text-align: right;}
.carousel-control.left,.carousel-control.right {
  background-image: linear-gradient(to right,rgba(255,255,255,0.001) 0%,rgba(255,255,255,0.001) 0%);
}
.carousel-indicators li {
  background-color: white;
  border: 1px solid blue;}
.carousel-indicators li.active
{
  background-color: blue;
}
.carousel-control{
  text-shadow: 0 1px 5px rgba(0,0,0,0.9);
}
.carousel-control:hover{
  color:blue;
}

.gradient li ul li{
  display:inline-block;
}
.gradient ul{
  list-style: none;
  padding:0;
}
.gradient li ul{
border-bottom: 1px solid black;
}
.gradient li ul:last-child{
border-bottom:none;
}
.gradient li ul li:first-child{
width:12%;
text-align: left;
}
.gradient li ul li:nth-child(2){
width:60%;
padding-left:5%;
text-align: left;
}
.gradient li ul li:nth-child(3){
width:24%;
text-align: right;
}
.gradient .liste{
  margin:0 auto;
  text-align: center;
}

.slider-box{
  position:relative;
  height:100%;
}
.slider-arrow{
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  font-size: 30px;
}

.slider-inner{width:80%;
margin:0 auto;}

.slider-arrow-Left,{
  left:0;
  right:0;
}
.disabled{
  opacity:0.5;
}

@media  screen and (min-width : 768px) {
  .gradient .lista-sx,.gradient .lista-dx{
    display:inline-block;
    width:48%;

  }
  .gradient .lista-sx{
    margin-right: 10px;
  }
}
