/* body fontfamily */
body{ font-family: Sailec-Regular,"system-ui",-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,"sans-serif";
font-size:16px;
}
/* inizio classi utility */

/* font-style per h-titoli ,2 carousel,deploy e features  */
.main-text{font-size:40px;
 color:#000043;
}
/* font-style per sottotitoli deploy e 2 carousel */
.sub-text{font-size:26px;
 color:#455780;
}
/* font-style paragrafi deploy e features */
.par-text{font-size:18px;
color:#455780;
}
/* classi colore */
.blue{
  color: #3A7FFF;
  font-weight: 600;
}
.white{
  color:#fff;
}
/* stile liste */
 ul{list-style: none;
 padding:0;}

/* classi padding */
.p50-top{padding-top:50px;}
.p50-bottom{padding-bottom:50px;}

/* fine classi utility */

/* nav(ho lavorato su quella di bootstrap,nel bonus l'ho costruita da me) */

.navbar{
  margin-bottom:0px;
  padding-top:5px;
  padding-bottom:5px;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}
.navbar-brand {padding: 12px 5px;}

.navbar-brand > .logo{
  width:160px;
  margin-right: 55px;
}
.navbar-default .navbar-toggle {
  margin-right:0;
  border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #3A7FFF;
  width: 19px;
  height: 3px;}
.navbar-default .navbar-nav > li > a{
  color:#000043;
  padding-left:10px;
  padding-right:10px;
  }
.nav .btn-default {
  border-color: #3A7FFF;
}
/* jumbotron */

.jumbotron{
  background-image: url("../img/sfondo-pesci.svg");
  background-size:cover;
  background-repeat: no-repeat;
  margin-bottom:0px;
  background-position: 50% 80%;
  }
.jumbotron .titolo h1{
  font-size: 45px;
  }
.jumbotron .titolo p{
  font-weight:400;
  opacity:0.7;
}

.jumbotron .my-form{
  border-radius:5px;
  background-color:#fff;
  padding:20px 20px;
}
.jumbotron .my-form h2{font-weight: 600;
}
.jumbotron .my-form h2:nth-child(2){color:blue;}
.jumbotron .my-form h5{
  padding-top: 5px;
}

.jumbotron .my-form h5 a{
  text-decoration:underline;
}

.my-form button{font-weight: bold;}
.my-form button.bg-lightblue{
  background-color: #5492FF;
  border-color:#5492FF;
}
.my-form button.bg-lightblue:hover{
  color:#fff;
  background-color:#2a8cff;
}
.my-form button.bg-google{
  position:relative;
  border:0;
  box-shadow:1px 1px 2px 1px #eee;
}

.my-form button.bg-google:before
{
  content:" ";
  display:block;
  background-image: url("../img/google.png");
  width:20px;
  height:20px;
  background-size: cover;
  position:absolute;
}

/* immagini */
.immagini{
  padding-top:35px;
  padding-bottom: 35px;
}
.immagini span{
  color:#687596;
  font-size:17px;
}
.immagini .loghi{
  margin-top:20px;
}
.immagini .loghi img{
  width:40%;
  height:auto;
  margin:40px 20px;
}

/* deploy */

.deploy ul{
  margin-bottom:20px;
}

.deploy ul li{
  line-height:3;
}
.deploy ul li a{
  padding:20px 15px;
  border-left: 2px solid #ccc;
  text-decoration: none;
  font-size: 20px;
  color:#455780;
}

.deploy ul li a:hover {
  border-color:blue;
  color:blue;
  font-weight: 400;
}
.deploy p.sub-text{
  padding-bottom:50px;
  padding-top:8px;
}
/* .carousel-up e down (costruiti qui solo a livello visivo,
 quelli della versione bonus hanno struttura da veri carousel
 pensata per il cambio immagine) */

.carousel-up,.carousel-down,.immagini{
  background-color: #f1f3f8;
}

.carousel-up p {
  padding-bottom:140px;
  padding-top:20px;
}
.carousel-up img{
  width:80%;
  height:auto;
  margin:0 20px;
}
.carousel-up ul.cerchietti,.carousel-down ul.cerchietti{
  padding-top:50px;
}

.carousel-up h5{
  font-size: 18px;
  padding-top:10px;
  padding-bottom: 30px;
}

.carousel-content{
  display:inline-block;
  vertical-align: middle;
  padding:40px 10px;
  width:80%;
  background-color: #fff;
  margin:0 20px;
}
.carousel-down h2{
  padding-bottom: 70px;
}
.carousel-down h5{
  font-size: 22px;
  font-weight: 600;
}
.carousel-down h6{
  font-size: 18px;
  padding-bottom: 30px;
}
.carousel-content img{
  width:100%;
  height:auto;
}
.carousel-content p{
  padding: 20px 0;
}
ul.cerchietti li, ul.iconesocial li{
  display:inline-block;
}
.fa-angle-right,.fa-angle-left{
  opacity:0.1;
  font-size:80px;
  font-weight: 900;}

/* Per le animazioni delle arrow dei carousel */
.fa-angle-right{color:#1d2555;
}
.fa-angle-left{color:#6a7492;
}
.sx:hover .fa-angle-left,
.dx:hover .fa-angle-right{
  opacity:1;}

/* Per le animazioni dei cerchietti(fatte sostituendo
icona cerchio pieno e cerchio vuoto di fontawesome) */

.circle::before{font-family: FontAwesome ; font-weight: 900; content: "\f1db ";}
ul.cerchietti li:hover  .circle::before {font-family: FontAwesome ; font-weight: 900; content: "\f111 ";
}

.features img{
  margin-top:20px;}
/* regions e get-started */

.get-started h3{
  font-size:40px;
}
.get-started .btn{
  margin-top: 15px;
  font-weight: 900;
  max-width:100%;
}
.regions,.get-started{
  background: linear-gradient(to right, rgba(32,0,156,1) 0%,rgba(33,9,177,1) 50%,rgba(32,0,156,1) 100%);;
}

.regions h3{
  font-weight:500;
  padding-bottom:5px;
  font-size: 35px;
}
.test-speed{
  width:100%;
  min-height:40px;
  border-bottom:1px solid #fff;
  padding:10px 0;
  font-size: 0.8em;
}
.test-speed:last-child{
  border-bottom:none;}

.test-speed .city{opacity:0.6;}

.test-speed a{
  color:#00D0D4;
}
.regions .bis{
  margin-top:20px;
}

/* footer */
.footer{
  background-color: #08154f;
}

.footer .iconasito{
  width:50px;
  opacity:0.7;
  height:auto;
  margin-bottom:15px;
}
 .footer ul
{
  margin-bottom:20px;
}
.footer ul li{
  line-height: 2;
  opacity:0.6;
}
.footer ul li:first-child{
  font-size: 17px;
  font-weight:600;
    opacity:1;
}
.footer .iconesocial i{
  margin-top:20px;
  font-size: 26px;
  padding-right: 10px;
  opacity:0.5;
}

.footer p{
  margin-bottom:0;
  opacity:0.6;
}
.footer span.proud{
  opacity:0.4;
}
/* codice per fake popovers in fondo al footer */
.bubble {
  opacity:0;
  display:inline-block;
  vertical-align: middle;
  position: relative;
  background: #fff;
  color: #000;
  font-size: 15px;
  line-height: 1.2;
  text-align: left;
  max-width: 310px;
  height: 100%;
  border-radius: 6px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:8px;
  margin-top:20px;
}
/* Per creare triangolino */
.bubble:after {
  opacity:0;
  content: '';
  position: absolute;
  display:block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-width: 8px 8px 8px 8px;
  border-color: transparent transparent transparent #fff;
  bottom: 20%;
  right: -15px;
  margin-top: -9px;
}
.shark img{
  width: 70px;
  height:auto;
  background-color: #2553FF;
}
/* per creare il counter notifiche sullo squalo */
.shark span {
  position:relative;
  bottom:25px;
  right:25px;
  display:inline-block;
  text-align: center;
  padding:6px;
  line-height: 0.5;
  background-color:red;
  border-radius: 50%;
  border:3px solid #fff;
}
/* il popover left sarà da mobile,right da tablet in su */
.popover-left{
  position:fixed;
  bottom:60px;
  left:40px;
}
.popover-right .bubble{
  margin-top:0;
}
.popover-right{
  position:fixed;
  bottom:30px;
  right:20px;
}
.popover-left:hover
.bubble:after{
    opacity:1;
  }
.popover-left:hover .bubble{
  opacity:1;
}

/* Tablets */
@media  screen and (min-width : 768px) {
.jumbotron .my-form h5{font-size:15px;
  line-height: 140%;}
.immagini .loghi img{
  width:14%;
  margin:40px 5px;
}
.immagini span{
font-size:22px;
}
.deploy .bis{
  margin-top:40px;
}
.carousel-up img,.carousel-content,.carousel-content img{
  width:75%;}

.carousel-content p{
  font-size:40px;
}
.test-speed{
  font-size: 0.9em;
}
}

/*  media query speciale laddove si rompe la  nav di bootstrap3 */

@media (min-width: 768px) and (max-width: 991px) {
.navbar-collapse.collapse {
  display: none !important;
}
.navbar-collapse.collapse.in {
  display: block !important;
}
.navbar-header .collapse, .navbar-toggle {
  display:block !important;
}
.navbar-header {
  float:none;
}
.container{
  width:100%;
}
}
/* Medium Devices, Desktops */
@media screen and (min-width : 992px) {
.jumbotron .titolo h1 {
  font-size: 58px;
}
.jumbotron .titolo p{
  font-size: 22px;
  }
.jumbotron .my-form{
  padding:15px 20px;}

.immagini .loghi img{
  width:15%;
}

.carousel-content{
  padding:90px 2px;
}
.carousel-content img{
  width:50%;}

.gradient .bis{
  margin-top:0;
}
.carousel-up p{
  font-size: 25px;
  font-weight: 300;
  padding-bottom:55px;
}

.carousel-up h5{
  padding-bottom: 0px;
}
.carousel-up ul.cerchietti{
  padding-top:0px;
}
.navbar-right{padding-right: 8px;}
.shark{
  display:inline-block;
}
.bubble{
  margin-right: 15px;
}
.popover-right:hover
.bubble:after{
    opacity:1;
  }
.popover-right:hover .bubble{
  opacity:1;
}
}
/* Nota riga 116:se avessi messo un height all'img in before minore del prodotto font-size per line-height(naturale del bottone)
avrei dovuto dare line-height in px al button pari all'height del before per centrare img google in verticale
Questo perché il bottone è costruito col padding a partire dal contenuto.*/
