/* Regole css generali */
body{ font-family: Sailec-Regular,"system-ui",-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,"sans-serif";
  font-size:16px;
}

a{
  color:#3571FF;
}

.blue{
  color: #3A7FFF;
}
.white{
  color:#fff;
}

.big-text{font-size:70px;}
.med-text{font-size:40px;}
.normal-text{font-size:20px;}
.small-text{font-size:14px;}

ul{list-style: none;}

/* a{text-decoration:none;
color:#fff;} */

.logo{
  width:140px;
  height:auto;
  margin-right: 50px;
}

/* nav */
.navbar{
  margin-bottom:0px;
}
.navbar-default {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-toggle {
  border-color: transparent;}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #3A7FFF}
.nav > li > a{
  padding-left:10px;
  padding-right:10px;
}

.nav .btn-default {
  color: #3A7FFF;
  border-color: #3A7FFF;}

.jumbotron{

    padding-top:40px;
    background-image: url("../img/sfondo-pesci.svg");
    margin-bottom:0px;

  }
/* jumbotron */
.jumbotron .titolo p{
  opacity:0.8;
  }
.form{
    border-radius:5px;
    background-color:#fff;
    padding:30px 20px;

}
.azzurro{
        background-color: #5492FF;
        border-color:#5492FF;
        color:#fff;
      }
      .jumbotron h4 a{
        text-decoration:underline;
      }
      .google-icon{
        width:14px;
        height:auto;
        padding-top:4px;
      }

/* immagini */

.row.loghi{
  padding:10px 0;
}
.immagini{
background-color: #f1f3f8;
padding:20px 0;
}
.immagini img{

margin:20px auto;
/* width:auto;
height:40px; */
}
.immagini span{
  color:#687596;
}

/* deploy */
.deploy .lista{
border-left:3px solid #ccc;
}
.deploy ul{
  padding-left:0px;
}

.deploy h3{
font-weight: bolder;
}
.deploy ul li,.deploy p{
opacity:0.7;
}

.deploy ul li{
  line-height: 3;
}
.deploy ul li a{
padding:15px 15px;
border-left: 3px solid #ccc;
text-decoration: none;
}

 .deploy ul li a:hover {
border-color:blue;
color:darkblue;
}

/* .carousel-up */
.carousel-up,.carousel-down{
background-color: #eee;
}
.carousel-up{
background-color: #f1f3f8;}

.carousel-up img{
width:500px;
height:auto;
margin:0 20px;
}
.carousel-up ul{
  padding:0;
}
.carousel-content{
width:500px;
margin:0 auto;
background-color: #fff;
}
.carousel-content img{
width:500px;
height:auto;
}
.gradient,.get-started{
background: linear-gradient(to right, rgba(32,0,156,1) 0%,rgba(33,9,177,1) 50%,rgba(32,0,156,1) 100%);;
}

.test-speed{
width:100%;
height:25px;
border-bottom:1px solid #fff;
}
.test-speed .city{opacity:0.6;}


.cerchietti{
margin:0;
}
.cerchietti li, .iconesocial li{
display:inline-block;
}
.cerchietti li{
color:#2955FF;
}
.fa-angle-right{color:#1d2555;
opacity:0.1;
font-size:30px;}
.fa-angle-left{color:#6a7492;
  opacity:0.1;
  font-size:30px;}
  .sx:hover .fa-angle-left,
  .dx:hover .fa-angle-right{
    opacity:1;}
    .icon::before {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;}


      .circle::before{font-family: FontAwesome ; font-weight: 900; content: "\f1db ";
    }
    .cerchietti li:hover   .circle::before {font-family: FontAwesome ; font-weight: 900; content: "\f111 ";
  }

  .get-started,.gradient
  {
    padding:50px 0;
  }

  .get-started .btn{
    font-weight: 900;
    font-size: 17px;
  }
  .footer{
    padding:50px 0;
    background-color: #08154f;
    color:white;
  }

  .footer img{
    width:40px;
    height:auto;
  }
  .footer ul
  {
    padding-left:0;
  }
  /* Extra Small Devices, Phones */
  @media screen and (min-width : 480px) {

  }

  /* Small Devices, Tablets */
  @media  screen and (min-width : 768px) {


  }

  /* Medium Devices, Desktops */
  @media screen and (min-width : 992px) {

  }
